Repository ton-community/ton-docs, pull requests merged in 2025-09, with the labels that each got.

#1437 Messages and transaction: improvement for key terms
  docs/v3/documentation/dapps/assets/nft-2.0.mdx
  docs/v3/documentation/smart-contracts/message-management/external-messages.mdx
  docs/v3/documentation/smart-contracts/message-management/internal-messages.mdx
  docs/v3/guidelines/dapps/transactions/api-based-retrieval.mdx
  docs/v3/guidelines/dapps/transactions/explore-transactions.mdx
  docs/v3/guidelines/dapps/transactions/message-driven-execution.mdx
  docs/v3/guidelines/dapps/transactions/overview.mdx
  docs/v3/guidelines/ton-connect/frameworks/python.mdx
Labels: documentation, guidelines

#1439 Small fixes
  docs/v3/guidelines/dapps/apis-sdks/api-types.mdx
  docs/v3/guidelines/dapps/apis-sdks/ton-http-apis.mdx
  docs/v3/guidelines/dapps/transactions/explore-transactions.mdx
  redirects.js
  redirects/redirects.json
  sidebars/guidelines.js
Labels: small fix

#1403 fix: 404 in how to
  docs/v3/guidelines/smart-contracts/howto/wallet.mdx
Labels: small fix

#1383 fixes-1372
  docs/v3/documentation/dapps/dapps-overview.mdx
  docs/v3/documentation/network/configs/blockchain-configs.mdx
  docs/v3/documentation/tvm/tvm-exit-codes.mdx
  docs/v3/documentation/tvm/tvm-overview.mdx
  docs/v3/guidelines/dapps/asset-processing/jettons.mdx
  docs/v3/guidelines/dapps/overview.mdx
  docs/v3/guidelines/get-started-with-ton.mdx
  docs/v3/guidelines/quick-start/getting-started.mdx
  docs/v3/guidelines/ton-connect/creating-manifest.mdx
  src/components/Tables/manifest-table.css
Labels: enhancement, concept

#1452 Update TON Blockchain and Ecosystem concepts
  docs/v3/concepts/dive-into-ton/ton-blockchain/blockchain-of-blockchains.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/cells-as-data-storage.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/security-measures.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/sharding.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/smart-contract-addresses.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/ton-networking.mdx
  docs/v3/concepts/dive-into-ton/ton-ecosystem/explorers-in-ton.mdx
  docs/v3/concepts/dive-into-ton/ton-ecosystem/nft.mdx
  docs/v3/concepts/dive-into-ton/ton-ecosystem/wallet-apps.mdx
  docs/v3/concepts/educational-resources.mdx
  redirects/redirects.json
  sidebars/concepts.js
  sidebars/documentation.js
Labels: concept

#1462 Split: update docs/v3/concepts/dive-into-ton/ton-blockchain/security-measures.mdx (from ai-fixes-big vs main)
  docs/v3/concepts/dive-into-ton/ton-blockchain/security-measures.mdx
Labels: Docs Revamp

#1402 add better description for deeplinks
  docs/v3/guidelines/dapps/asset-processing/payments-processing.mdx
Labels: enhancement

#1472 Split: update docs/v3/contribute/content-standardization.mdx (from ai-fixes-big vs main)
  docs/v3/contribute/content-standardization.mdx
Labels: Docs Revamp

#1482 Split: update docs/v3/contribute/style-guide.mdx (from ai-fixes-big vs main)
  docs/v3/contribute/style-guide.mdx
Labels: Docs Revamp

#1726 Upgrade of Concepts
  docs/v3/concepts/dive-into-ton/go-from-ethereum/blockchain-comparison.mdx
  docs/v3/concepts/dive-into-ton/go-from-ethereum/blockchain-services.mdx
  docs/v3/concepts/dive-into-ton/go-from-ethereum/difference-of-blockchains.mdx
  docs/v3/concepts/dive-into-ton/go-from-ethereum/solidity-vs-func.mdx
  docs/v3/concepts/dive-into-ton/go-from-ethereum/tvm-vs-evm.mdx
  docs/v3/concepts/dive-into-ton/introduction.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/accounts.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/addresses.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/asynchrony.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/cells.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/network.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/nodes.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/overview.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/sharding.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/smart-contracts.mdx
  docs/v3/concepts/dive-into-ton/ton-ecosystem/blockchain-tech.mdx
  docs/v3/concepts/security-measures.mdx
  redirects.js
  sidebars/concepts.js
Labels: Docs Revamp

#1731 Update types.mdx
  docs/v3/documentation/data-formats/tlb/types.mdx
Labels: small fix

#1486 Split: update docs/v3/contribute/typography.mdx (from ai-fixes-big vs main)
  docs/v3/contribute/typography.mdx
Labels: Docs Revamp

#1733 Cut legacy pages from Archive
  docs/v3/documentation/archive/compile.mdx
  docs/v3/documentation/archive/precompiled-binaries.mdx
  redirects/redirects.json
Labels: Docs Revamp

#1698 Split: update docs/v3/guidelines/ton-connect/guidelines/developers.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/ton-connect/guidelines/developers.mdx
Labels: Docs Revamp

#1700 Split: update docs/v3/guidelines/ton-connect/overview.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/ton-connect/overview.mdx
Labels: Docs Revamp

#1719 Split: update src/pages/v3/documentation/tvm/instructions.mdx (from ai-fixes-big vs main)
  src/pages/v3/documentation/tvm/instructions.mdx
Labels: Docs Revamp

#1693 Split: update docs/v3/guidelines/ton-connect/cookbook/ton-transfer.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/ton-connect/cookbook/ton-transfer.mdx
Labels: Docs Revamp

#1497 Split: update docs/v3/documentation/dapps/assets/usdt.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/dapps/assets/usdt.mdx
  docs/v3/documentation/dapps/dapps-overview.mdx
Labels: Docs Revamp

#1499 Split: update docs/v3/documentation/dapps/defi/coins.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/dapps/assets/extra-currencies.mdx
  docs/v3/documentation/dapps/assets/toncoin.mdx
  docs/v3/documentation/dapps/defi/coins.mdx
  sidebars/documentation.js
Labels: Docs Revamp

#1503 Split: update docs/v3/documentation/dapps/defi/ton-payments.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/dapps/defi/ton-payments.mdx
Labels: Docs Revamp

#1505 Split: update docs/v3/documentation/dapps/oracles/red_stone.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/infra/oracles/redstone.mdx
Labels: Docs Revamp

#1735 Fix and update side bar for documentation/nodes
  sidebars/documentation.js
Labels: Docs Revamp

#1739 Rework Documentation/Dapps structure.
  docs/v3/documentation/dapps/assets/extra-currencies.mdx
  docs/v3/documentation/dapps/assets/jetton.mdx
  docs/v3/documentation/dapps/assets/nft.mdx
  docs/v3/documentation/dapps/assets/toncoin.mdx
  docs/v3/documentation/dapps/assets/usdt.mdx
  docs/v3/documentation/dapps/defi/tokens.mdx
  redirects/redirects.json
  sidebars/documentation.js
Labels: Docs Revamp

#1510 Split: update docs/v3/documentation/data-formats/tlb/library-cells.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/data-formats/cells/library.mdx
Labels: Docs Revamp

#1690 Split: update docs/v3/guidelines/ton-connect/cookbook/cells.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/ton-connect/cookbook/cells.mdx
Labels: Docs Revamp

#1557 Split: update docs/v3/documentation/smart-contracts/func/docs/comments.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/smart-contracts/func/docs/comments.mdx
Labels: Docs Revamp

#1633 Split: update docs/v3/guidelines/dapps/tutorials/mint-your-first-token.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/dapps/tutorials/mint-your-first-token.mdx
Labels: Docs Revamp, review

#1684 Split: update docs/v3/guidelines/smart-contracts/security/ton-hack-challenge-1.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/security/ton-hack-challenge-1.mdx
Labels: Docs Revamp, review

#1686 Split: update docs/v3/guidelines/smart-contracts/testing/collect-contract-gas-metric.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/testing/collect-contract-gas-metric.mdx
Labels: Docs Revamp, review

#1692 Split: update docs/v3/guidelines/ton-connect/cookbook/nft-transfer.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/ton-connect/cookbook/nft-transfer.mdx
Labels: Docs Revamp

#1618 Split: update docs/v3/guidelines/dapps/cookbook.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/dapps/cookbook.mdx
Labels: Docs Revamp

#1574 Split: update docs/v3/documentation/smart-contracts/message-management/message-modes-cookbook.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/smart-contracts/message-management/message-modes-cookbook.mdx
  docs/v3/documentation/smart-contracts/transaction-fees/forward-fees.mdx
Labels: Docs Revamp

#1683 Split: update docs/v3/guidelines/smart-contracts/security/things-to-focus.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/security/things-to-focus.mdx
Labels: Docs Revamp, review

#1682 Split: update docs/v3/guidelines/smart-contracts/security/secure-programming.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/security/secure-programming.mdx
Labels: Docs Revamp, review

#1672 Split: update docs/v3/guidelines/smart-contracts/howto/multisig-js.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/howto/multisig-js.mdx
Labels: Docs Revamp, review

#1669 Split: update docs/v3/guidelines/smart-contracts/howto/airdrop-claim-best-practice.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/howto/airdrop-claim-best-practice.mdx
Labels: Docs Revamp, review

#1677 Split: update docs/v3/guidelines/smart-contracts/howto/wallet.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/howto/wallet.mdx
Labels: Docs Revamp

#1676 Split: update docs/v3/guidelines/smart-contracts/howto/single-nominator-pool.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/howto/single-nominator-pool.mdx
Labels: Docs Revamp

#1649 Split: update docs/v3/guidelines/nodes/running-nodes/archive-node.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/nodes/running-nodes/archive-node.mdx
Labels: Docs Revamp

#1611 Split: update docs/v3/guidelines/dapps/asset-processing/compressed-nfts.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/dapps/asset-processing/compressed-nfts.mdx
Labels: Docs Revamp

#1615 Split: update docs/v3/guidelines/dapps/asset-processing/nft-processing/metadata-parsing.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/dapps/asset-processing/nft-processing/metadata-parsing.mdx
Labels: Docs Revamp

#1614 Split: update docs/v3/guidelines/dapps/asset-processing/mintless-jettons.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/dapps/asset-processing/mintless-jettons.mdx
Labels: Docs Revamp

#1572 Split: update docs/v3/documentation/smart-contracts/message-management/external-messages.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/smart-contracts/message-management/external-messages.mdx
Labels: Docs Revamp

#1648 Split: update docs/v3/guidelines/nodes/persistent-states.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/nodes/persistent-states.mdx
Labels: Docs Revamp

#1600 Split: update docs/v3/documentation/tvm/changelog/tvm-upgrade-2025-02.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/tvm/changelog/tvm-upgrade-2025-02.mdx
Labels: Docs Revamp

#1670 Split: update docs/v3/guidelines/smart-contracts/howto/compile/compilation-instructions.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/howto/compile/compilation-instructions.mdx
Labels: Docs Revamp

#1637 Split: update docs/v3/guidelines/dapps/tutorials/zero-knowledge-proofs.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/dapps/tutorials/zero-knowledge-proofs.mdx
Labels: Docs Revamp, review

#1666 Split: update docs/v3/guidelines/smart-contracts/fee-calculation.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/smart-contracts/fee-calculation.mdx
Labels: Docs Revamp, review

#1643 Split: update docs/v3/guidelines/nodes/maintenance-guidelines/mytonctrl-remote-controller.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/nodes/maintenance-guidelines/mytonctrl-remote-controller.mdx
Labels: Docs Revamp

#1634 Split: update docs/v3/guidelines/dapps/tutorials/nft-minting-guide.mdx (from ai-fixes-big vs main)
  docs/v3/guidelines/dapps/tutorials/nft-minting-guide.mdx
Labels: Docs Revamp, review

#1554 Split: update docs/v3/documentation/smart-contracts/func/changelog.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/smart-contracts/func/changelog.mdx
Labels: Docs Revamp

#1534 Split: update docs/v3/documentation/network/protocols/adnl/low-level-adnl.mdx (from ai-fixes-big vs main)
  cspell.json
  docs/v3/documentation/network/protocols/adnl/low-level.mdx
Labels: Docs Revamp

#1525 Split: update docs/v3/documentation/infra/nodes/node-commands.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/nodes/mytonctrl/commands.mdx
  src/grammar/allow-list-dictionary.txt
Labels: Docs Revamp

#1522 Split: update docs/v3/documentation/infra/nodes/mytonctrl/mytonctrl-errors.mdx (from ai-fixes-big vs main)
  docs/v3/documentation/nodes/mytonctrl/errors.mdx
Labels: Docs Revamp

#1513 Split: update docs/v3/documentation/data-formats/tlb/tl-b-language.mdx (from ai-fixes-big vs main)
  cspell.json
  docs/v3/documentation/data-formats/tlb/overview.mdx
Labels: Docs Revamp

#1750 operations
  docs/v3/concepts/dive-into-ton/ton-blockchain/operations.mdx
  sidebars/concepts.js
Labels: documentation, concept

#1755 Update docs for Tolk v1.1
  docs/v3/documentation/smart-contracts/tolk/changelog.mdx
  docs/v3/documentation/smart-contracts/tolk/language-guide.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/mutability.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/pack-to-from-cells.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/stdlib.mdx
  src/css/custom.css
  src/theme/prism/prism-tolk.js
Labels: documentation, tolk
