Repository ton-community/ton-docs, pull requests merged in 2025-07, with the labels that each got.

#1284 Trx ENG version
  cspell.json
  docs/v3/guidelines/dapps/transactions/api-based-retrieval.mdx
  docs/v3/guidelines/dapps/transactions/explore-transactions.mdx
  docs/v3/guidelines/dapps/transactions/foundations-of-blockchain.mdx
  docs/v3/guidelines/dapps/transactions/hash-based-tracking.mdx
  docs/v3/guidelines/dapps/transactions/message-driven-execution.mdx
  docs/v3/guidelines/dapps/transactions/overview.mdx
  sidebars/guidelines.js
  static/img/docs/blockchain-fundamentals/account_eng.svg
  static/img/docs/blockchain-fundamentals/account_states.svg
  static/img/docs/blockchain-fundamentals/accountchain.svg
  static/img/docs/blockchain-fundamentals/actor.svg
  static/img/docs/blockchain-fundamentals/asynchrony.svg
  static/img/docs/blockchain-fundamentals/basechain.svg
  static/img/docs/blockchain-fundamentals/chain-of-chains.svg
  static/img/docs/blockchain-fundamentals/shardchain.svg
  static/img/docs/blockchain-fundamentals/smart_contract_eng.svg
  static/img/docs/blockchain-fundamentals/structure_eng.svg
Labels: guidelines

#1313 Update docs for Tolk v1.0
  cspell.json
  docs/v3/documentation/smart-contracts/tolk/changelog.mdx
  docs/v3/documentation/smart-contracts/tolk/overview.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/create-message.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/lazy-loading.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/mutability.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/pack-to-from-cells.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/stdlib.mdx
  sidebars/documentation.js
  src/theme/prism/prism-tolk.js
Labels: tolk

#1330 docs: Tracking external-in messages in TON
  docs/v3/guidelines/ton-connect/guidelines/transaction-by-external-message.mdx
  sidebars/guidelines.js
Labels: guidelines

#1211 Security docs update
  docs/v3/documentation/smart-contracts/overview.mdx
  docs/v3/guidelines/smart-contracts/guidelines.mdx
  docs/v3/guidelines/smart-contracts/security/common-vulnerabilities.mdx
  docs/v3/guidelines/smart-contracts/security/overview.mdx
  sidebars/guidelines.js
Labels: documentation
