Repository ton-community/ton-docs, pull requests merged in 2025-03, with the labels that each got.

#993 Update docs for Tolk v0.9
  docs/v3/documentation/smart-contracts/tolk/changelog.md
  docs/v3/documentation/smart-contracts/tolk/overview.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.md
  src/theme/prism/prism-tolk.js
Labels: tolk

#996 Smart contract guidelines proofread and rework 1
  docs/v3/guidelines/smart-contracts/fee-calculation.md
  docs/v3/guidelines/smart-contracts/get-methods.md
  docs/v3/guidelines/smart-contracts/howto/wallet.md
Labels: documentation standardisation

#1022 +2 flag update
  docs/v3/documentation/smart-contracts/message-management/message-modes-cookbook.mdx
  docs/v3/documentation/smart-contracts/message-management/sending-messages.md
  docs/v3/guidelines/smart-contracts/security/things-to-focus.md
Labels: enhancement

#1036 Rework and proofread on full node
  docs/v3/guidelines/nodes/running-nodes/full-node.mdx
Labels: documentation standardization

#1040 Update docs for Tolk v0.10
  docs/v3/documentation/smart-contracts/tolk/changelog.md
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.md
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/stdlib.md
Labels: tolk, core

#1028 Refactor smart contract guidelines for clarity and consistency.
  docs/v3/guidelines/smart-contracts/fee-calculation.md
  docs/v3/guidelines/smart-contracts/howto/airdrop-claim-best-practice.mdx
  docs/v3/guidelines/smart-contracts/howto/multisig-js.md
  docs/v3/guidelines/smart-contracts/howto/multisig.md
  docs/v3/guidelines/smart-contracts/howto/nominator-pool.mdx
  docs/v3/guidelines/smart-contracts/howto/shard-optimization.mdx
  docs/v3/guidelines/smart-contracts/howto/single-nominator-pool.mdx
  docs/v3/guidelines/smart-contracts/howto/wallet.md
  docs/v3/guidelines/smart-contracts/security/overview.mdx
  docs/v3/guidelines/smart-contracts/security/random-number-generation.md
  docs/v3/guidelines/smart-contracts/security/random.md
  docs/v3/guidelines/smart-contracts/security/secure-programming.mdx
  docs/v3/guidelines/smart-contracts/testing/overview.mdx
  docs/v3/guidelines/smart-contracts/testing/writing-test-examples.mdx
Labels: documentation standardization

#1047 Proofreading & Rework || Update liteserver node, validator node and run MyTonCtrl Docker
  cspell.json
  docs/v3/guidelines/nodes/running-nodes/liteserver-node.md
  docs/v3/guidelines/nodes/running-nodes/run-mytonctrl-docker.md
  docs/v3/guidelines/nodes/running-nodes/validator-node.md
Labels: documentation standardization

#1054 Rework and proofread Tolk section
  docs/v3/documentation/smart-contracts/tolk/changelog.md
  docs/v3/documentation/smart-contracts/tolk/overview.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.md
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/mutability.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/stdlib.md
Labels: documentation standardization

#1007 Rework and proofread DApps Cookbook
  docs/v3/guidelines/dapps/cookbook.mdx
  docs/v3/guidelines/dapps/overview.mdx
Labels: documentation standardization

#1009 Rework and proofread Tutorials and Examples
  docs/v3/guidelines/dapps/apis-sdks/api-keys.mdx
  docs/v3/guidelines/dapps/apis-sdks/getblock-ton-api.md
  docs/v3/guidelines/dapps/tutorials/mint-your-first-token.md
  docs/v3/guidelines/dapps/tutorials/nft-minting-guide.md
  docs/v3/guidelines/dapps/tutorials/web3-game-example.md
  docs/v3/guidelines/dapps/tutorials/zero-knowledge-proofs.md
Labels: documentation standardization

#1010 Rework and proofread Telegram Bot Examples
  docs/v3/guidelines/dapps/tutorials/telegram-bot-examples/accept-payments-in-a-telegram-bot-2.md
  docs/v3/guidelines/dapps/tutorials/telegram-bot-examples/accept-payments-in-a-telegram-bot-js.md
  docs/v3/guidelines/dapps/tutorials/telegram-bot-examples/accept-payments-in-a-telegram-bot.md
Labels: documentation standardization

#1008 Rework and proofread APIs and SDKs
  docs/v3/guidelines/dapps/apis-sdks/api-types.md
  docs/v3/guidelines/dapps/apis-sdks/overview.md
  docs/v3/guidelines/dapps/apis-sdks/sdk.mdx
  docs/v3/guidelines/dapps/apis-sdks/ton-adnl-apis.md
  docs/v3/guidelines/dapps/apis-sdks/ton-http-apis.md
Labels: documentation standardization

#1011 Rework and proofread Telegram Mini Apps & Guidelines
  docs/v3/guidelines/dapps/tma/grants.mdx
  docs/v3/guidelines/dapps/tma/guidelines/monetization.mdx
  docs/v3/guidelines/dapps/tma/guidelines/publishing.mdx
  docs/v3/guidelines/dapps/tma/guidelines/testing-apps.mdx
  docs/v3/guidelines/dapps/tma/guidelines/tips-and-tricks.mdx
  docs/v3/guidelines/dapps/tma/notcoin.mdx
  docs/v3/guidelines/dapps/tma/overview.mdx
Labels: documentation standardization

#1012 Rework and proofread TMA Tutorials & Examples
  docs/v3/guidelines/dapps/tma/tutorials/app-examples.mdx
  docs/v3/guidelines/dapps/tma/tutorials/design-guidelines.mdx
  docs/v3/guidelines/dapps/tma/tutorials/step-by-step-guide.mdx
Labels: documentation standardization

#1013 Rework and proofread Advanced Asset Processing
  docs/v3/guidelines/dapps/asset-processing/jettons.md
  docs/v3/guidelines/dapps/asset-processing/mass-mint-tools.mdx
  docs/v3/guidelines/dapps/asset-processing/mintless-jettons.mdx
  docs/v3/guidelines/dapps/asset-processing/nft-processing/metadata-parsing.md
  docs/v3/guidelines/dapps/asset-processing/nft-processing/nfts.md
  docs/v3/guidelines/dapps/asset-processing/payments-processing.md
Labels: documentation standardization

#1062 Update OKX explorer url
  docs/v3/concepts/dive-into-ton/ton-ecosystem/explorers-in-ton.mdx
Labels: concept

#1058 Added new guide: how to launch a jetton airdrop
  docs/v3/guidelines/dapps/apis-sdks/getblock-ton-api.md
  docs/v3/guidelines/dapps/tutorials/jetton-airdrop.md
  sidebars/guidelines.js
Labels: guidelines

#1053 Proofread TVM overview
  cspell.json
  docs/v3/documentation/smart-contracts/fift/fift-and-tvm-assembly.md
  docs/v3/documentation/smart-contracts/fift/fift-deep-dive.md
  docs/v3/documentation/smart-contracts/fift/overview.mdx
  docs/v3/documentation/tvm/tvm-initialization.md
  docs/v3/documentation/tvm/tvm-overview.mdx
Labels: documentation standardization
