Repository ton-community/ton-docs, pull requests merged in 2025-06, with the labels that each got.

#1219 Minors for pr1214
  docs/v3/documentation/smart-contracts/tolk/overview.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.md
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/pack-to-from-cells.md
Labels: proofread and spelling

#1154 Onboarding guide: user flow new pt. 2
  docs/v3/documentation/data-formats/tlb/msg-tlb.mdx
  docs/v3/guidelines/quick-start/blockchain-interaction/reading-from-network.mdx
  docs/v3/guidelines/quick-start/blockchain-interaction/writing-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/blueprint-sdk-overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/deploying-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/processing-messages.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/storage-and-get-methods.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-blueprint-sdk-overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-deploying-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-storage-and-get-methods.mdx
  docs/v3/guidelines/quick-start/getting-started.mdx
  sidebars/guidelines.js
Labels: guidelines

#1225 fix(tlb-ide): link to tlb-parser
  docs/v3/documentation/data-formats/tlb/tlb-ide.md
Labels: small fix

#884 Fix broken code in "Writing comments: long strings in snake format"
  docs/v3/guidelines/dapps/cookbook.mdx
Labels: guidelines

#1258 Update docs for Tolk v0.99
  docs/v3/documentation/smart-contracts/tolk/changelog.md
  docs/v3/documentation/smart-contracts/tolk/overview.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/create-message.md
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.md
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/pack-to-from-cells.md
  sidebars/documentation.js
Labels: tolk

#1189 docs: update Ru quick-start
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/blockchain-interaction/reading-from-network.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/blockchain-interaction/writing-to-network.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/blueprint-sdk-overview.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/deploying-to-network.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/processing-messages.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/storage-and-get-methods.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/setup-environment.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-blueprint-sdk-overview.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-deploying-to-network.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-storage-and-get-methods.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/quick-start/getting-started.mdx
Labels: RU localization
