Repository ton-community/ton-docs, pull requests merged in 2025-05, with the labels that each got.

#1147 Onboarding guide: user flow new
  docs/v3/guidelines/quick-start/blockchain-interaction/reading-from-network.mdx
  docs/v3/guidelines/quick-start/blockchain-interaction/writing-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/blueprint-sdk-overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/deploying-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/processing-messages.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/storage-and-get-methods.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/setup-environment.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-blueprint-sdk-overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-deploying-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-storage-and-get-methods.mdx
  docs/v3/guidelines/quick-start/getting-started.mdx
  sidebars/guidelines.js
Labels: guidelines

#1160 Add Tact plugin for JetBrains IDEs
  docs/v3/documentation/smart-contracts/getting-started/ide-plugins.md
Labels: tact

#991 Update blockchain-of-blockchains.md
  docs/v3/concepts/dive-into-ton/ton-blockchain/blockchain-of-blockchains.md
Labels: proofread and spelling

#1139 Blockchain limits page
  cspell.json
  docs/v3/documentation/smart-contracts/limits.md
  sidebars/documentation.js
Labels: documentation

#1184 1182-fix-blueprint-sdk
  docs/v3/documentation/smart-contracts/getting-started/javascript.mdx
  docs/v3/guidelines/dapps/overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/blueprint-sdk-overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/deploying-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/processing-messages.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/func-tolk-folder/storage-and-get-methods.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/setup-environment.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-blueprint-sdk-overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-deploying-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/tact-folder/tact-storage-and-get-methods.mdx
  docs/v3/guidelines/quick-start/getting-started.mdx
  docs/v3/guidelines/smart-contracts/get-methods.md
  docs/v3/guidelines/smart-contracts/testing/writing-test-examples.mdx
Labels: proofread and spelling

#1181 Update types page
  docs/v3/documentation/smart-contracts/func/docs/types.md
Labels: documentation, func
