Repository ton-community/ton-docs, pull requests merged in 2025-08, with the labels that each got.

#1350 Removes TONX API from list
  docs/v3/guidelines/dapps/apis-sdks/api-types.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/dapps/apis-sdks/api-types.mdx
Labels: APIs and Nodes

#1334 feat: added an article about basic proofing concepts
  docs/v3/documentation/data-formats/tlb/basic-proofing-concepts.mdx
  docusaurus.config.js
  package-lock.json
  package.json
  sidebars/documentation.js
Labels: documentation

#1370 Fixing 151 issues
  docs/v3/concepts/dive-into-ton/introduction.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/blockchain-of-blockchains.mdx
  docs/v3/concepts/dive-into-ton/ton-blockchain/smart-contract-addresses.mdx
  docs/v3/concepts/dive-into-ton/ton-ecosystem/wallet-apps.mdx
  docs/v3/documentation/smart-contracts/addresses.mdx
  docs/v3/documentation/smart-contracts/contracts-specs/wallet-contracts.mdx
  docs/v3/documentation/smart-contracts/overview.mdx
  docs/v3/documentation/smart-contracts/tolk/overview.mdx
  docs/v3/documentation/smart-contracts/transaction-fees/fees.mdx
  docs/v3/documentation/ton-documentation.mdx
  docs/v3/documentation/tvm/tvm-exit-codes.mdx
  docs/v3/documentation/tvm/tvm-overview.mdx
  docs/v3/guidelines/dapps/apis-sdks/sdk.mdx
  docs/v3/guidelines/dapps/apis-sdks/ton-http-apis.mdx
  docs/v3/guidelines/dapps/asset-processing/jettons.mdx
  docs/v3/guidelines/dapps/asset-processing/payments-processing.mdx
  docs/v3/guidelines/dapps/cookbook.mdx
  docs/v3/guidelines/dapps/tma/overview.mdx
  docs/v3/guidelines/dapps/tma/tutorials/app-examples.mdx
  docs/v3/guidelines/dapps/tma/tutorials/step-by-step-guide.mdx
  docs/v3/guidelines/get-started-with-ton.mdx
  docs/v3/guidelines/nodes/running-nodes/full-node.mdx
  docs/v3/guidelines/nodes/running-nodes/liteserver-node.mdx
  docs/v3/guidelines/quick-start/getting-started.mdx
  docs/v3/guidelines/ton-connect/frameworks/react.mdx
  docs/v3/guidelines/ton-connect/frameworks/web.mdx
  docs/v3/guidelines/ton-connect/guidelines/developers.mdx
  docs/v3/guidelines/ton-connect/overview.mdx
  sidebars/concepts.js
  src/data/features.js
  src/pages/index.tsx
Labels: Docs Revamp

#1386 Update tlb-tools.mdx
  docs/v3/documentation/data-formats/tlb/tlb-tools.mdx
Labels: small fix

#1379 Resolve inconsistency issues with the hash tracking transaction examples
  docs/v3/guidelines/dapps/transactions/hash-based-tracking.mdx
  docs/v3/guidelines/dapps/transactions/message-driven-execution.mdx
  docs/v3/guidelines/smart-contracts/testing/blueprint-config.mdx
  docs/v3/guidelines/ton-connect/guidelines/transaction-by-external-message.mdx
Labels: enhancement, guidelines

#1389 seo-tags
  docs/v3/guidelines/dapps/transactions/api-based-retrieval.mdx
  docs/v3/guidelines/dapps/transactions/explore-transactions.mdx
  docs/v3/guidelines/dapps/transactions/foundations-of-blockchain.mdx
  docs/v3/guidelines/dapps/transactions/hash-based-tracking.mdx
  docs/v3/guidelines/dapps/transactions/message-driven-execution.mdx
  docusaurus.config.js
Labels: enhancement

#1404 update collator docs, add article about collators in mtc
  docs/v3/documentation/infra/nodes/validation/collators.mdx
  docs/v3/guidelines/nodes/running-nodes/collators-validators.mdx
  sidebars/guidelines.js
Labels: APIs and Nodes
