Repository ton-community/ton-docs, pull requests merged in 2025-04, with the labels that each got.

#1068 Rework and proofread Integrate with TON part 1 of 2
  README.md
  docs/v3/guidelines/dapps/asset-processing/jettons.md
  docs/v3/guidelines/ton-connect/business/ton-connect-comparison.md
  docs/v3/guidelines/ton-connect/business/ton-connect-for-business.md
  docs/v3/guidelines/ton-connect/frameworks/react.mdx
  docs/v3/guidelines/ton-connect/frameworks/vue.mdx
  docs/v3/guidelines/ton-connect/frameworks/web.mdx
  docs/v3/guidelines/ton-connect/guidelines/developers.md
  docs/v3/guidelines/ton-connect/guidelines/how-ton-connect-works.mdx
  docs/v3/guidelines/ton-connect/overview.mdx
  docs/v3/guidelines/ton-connect/wallet.mdx
  sidebars/guidelines.js
Labels: documentation standardization

#1093 docs: add Russian language in menu
  docusaurus.config.js
Labels: RU localization

#1100 Migration for TON Hello world guidelines - update links
  docs/v3/concepts/educational-resources.mdx
  docs/v3/documentation/smart-contracts/func/overview.mdx
  docs/v3/documentation/smart-contracts/overview.mdx
  docs/v3/documentation/ton-documentation.mdx
  docs/v3/guidelines/get-started-with-ton.mdx
  docs/v3/guidelines/smart-contracts/guidelines.mdx
  docs/v3/guidelines/smart-contracts/testing/overview.mdx
  docs/v3/guidelines/ton-connect/frameworks/react.mdx
  docs/v3/guidelines/ton-connect/guidelines/developers.md
  i18n/ja/docusaurus-plugin-content-docs/current.json
  i18n/ko/docusaurus-plugin-content-docs/current.json
  i18n/ru/docusaurus-plugin-content-docs/current/develop/smart-contracts/testing/overview.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/concepts/educational-resources.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/documentation/smart-contracts/func/overview.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/documentation/smart-contracts/overview.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/documentation/ton-documentation.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/get-started-with-ton.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/smart-contracts/testing/overview.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/ton-connect/frameworks/react.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/guidelines/ton-connect/guidelines/developers.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current.json
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/dapps/ton-connect/developers.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/dapps/ton-connect/react.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/func/overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/get-started-with-ton.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/smart-contracts/README.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/smart-contracts/sdk/tonstarter.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/smart-contracts/testing/overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/develop/smart-contracts/testing/tonstarter.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/learn/academy/academy-overview.md
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/concepts/academy-overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/concepts/educational-resources.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/documentation/smart-contracts/README.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/documentation/smart-contracts/func/overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/documentation/smart-contracts/overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/documentation/ton-documentation.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/guidelines/get-started-with-ton.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/guidelines/smart-contracts/testing/overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/guidelines/ton-connect/frameworks/react.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/guidelines/ton-connect/guidelines/developers.md
  sidebars/guidelines.js
Labels: documentation

#1095 Update docs for Tolk v0.11
  docs/v3/documentation/smart-contracts/tolk/changelog.md
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-detail.mdx
  docs/v3/documentation/smart-contracts/tolk/tolk-vs-func/in-short.md
  src/theme/prism/prism-tolk.js
Labels: tolk

#1097 Feedback button component on every page
  docs/v3/concepts/dive-into-ton/go-from-ethereum/solidity-vs-func.md
  docs/v3/concepts/dive-into-ton/ton-ecosystem/explorers-in-ton.mdx
  package-lock.json
  package.json
  src/assets/icons/dislike-dark.svg
  src/assets/icons/dislike-light.svg
  src/assets/icons/index.ts
  src/assets/icons/like-dark.svg
  src/assets/icons/like-light.svg
  src/components/Feedback/Button.module.css
  src/components/Feedback/Button.tsx
  src/components/Feedback/index.module.css
  src/components/Feedback/index.tsx
Labels: enhancement

#1051 1050 rework proofread func section
  docs/v3/documentation/smart-contracts/func/changelog.md
  docs/v3/documentation/smart-contracts/func/cookbook.md
  docs/v3/documentation/smart-contracts/func/docs/builtins.md
  docs/v3/documentation/smart-contracts/func/docs/comments.md
  docs/v3/documentation/smart-contracts/func/docs/compiler_directives.md
  docs/v3/documentation/smart-contracts/func/docs/dictionaries.md
  docs/v3/documentation/smart-contracts/func/docs/functions.md
  docs/v3/documentation/smart-contracts/func/docs/global_variables.md
  docs/v3/documentation/smart-contracts/func/docs/literals_identifiers.md
  docs/v3/documentation/smart-contracts/func/docs/statements.md
  docs/v3/documentation/smart-contracts/func/docs/stdlib.mdx
  docs/v3/documentation/smart-contracts/func/docs/types.md
  docs/v3/documentation/smart-contracts/func/libraries.md
  docs/v3/documentation/smart-contracts/func/overview.mdx
Labels: documentation standardization

#1103 1102-rework-proofread-web3-guidelines
  docs/v3/guidelines/web3/overview.mdx
  docs/v3/guidelines/web3/ton-dns/dns.md
  docs/v3/guidelines/web3/ton-dns/subresolvers.md
  docs/v3/guidelines/web3/ton-proxy-sites/connect-with-ton-proxy.md
  docs/v3/guidelines/web3/ton-proxy-sites/how-to-open-any-ton-site.md
  docs/v3/guidelines/web3/ton-proxy-sites/how-to-run-ton-site.md
  docs/v3/guidelines/web3/ton-proxy-sites/running-your-own-ton-proxy.md
  docs/v3/guidelines/web3/ton-proxy-sites/site-and-domain-management.md
  docs/v3/guidelines/web3/ton-proxy-sites/ton-sites-for-applications.mdx
  docs/v3/guidelines/web3/ton-storage/storage-daemon.md
  docs/v3/guidelines/web3/ton-storage/storage-faq.md
  docs/v3/guidelines/web3/ton-storage/storage-provider.md
Labels: documentation standardization

#1105 Rework & proofread Infra docs #2
  cspell.json
  docs/v3/documentation/infra/crosschain/bridge-addresses.md
  docs/v3/documentation/infra/crosschain/overview.md
  docs/v3/documentation/infra/minter-flow.md
  docs/v3/documentation/network/configs/blockchain-configs.md
  docs/v3/documentation/network/configs/config-params.md
  docs/v3/documentation/network/configs/network-configs.md
  docs/v3/documentation/network/protocols/adnl/adnl-tcp.md
  docs/v3/documentation/network/protocols/adnl/adnl-udp.md
  docs/v3/documentation/network/protocols/adnl/low-level-adnl.md
  docs/v3/documentation/network/protocols/adnl/overview.md
  docs/v3/documentation/network/protocols/dht/dht-deep-dive.md
  docs/v3/documentation/network/protocols/dht/ton-dht.md
  docs/v3/documentation/network/protocols/overlay.md
  docs/v3/documentation/network/protocols/rldp.md
Labels: documentation standardization

#1111 Rework & proofread data formats
  docs/v3/documentation/data-formats/tl.md
  docs/v3/documentation/data-formats/tlb/block-layout.md
  docs/v3/documentation/data-formats/tlb/canonical-cell-serialization.md
  docs/v3/documentation/data-formats/tlb/cell-boc.mdx
  docs/v3/documentation/data-formats/tlb/crc32.md
  docs/v3/documentation/data-formats/tlb/exotic-cells.md
  docs/v3/documentation/data-formats/tlb/library-cells.md
  docs/v3/documentation/data-formats/tlb/msg-tlb.mdx
  docs/v3/documentation/data-formats/tlb/proofs.mdx
  docs/v3/documentation/data-formats/tlb/tl-b-language.mdx
  docs/v3/documentation/data-formats/tlb/tl-b-types.mdx
  docs/v3/documentation/data-formats/tlb/tlb-ide.md
  docs/v3/documentation/data-formats/tlb/tlb-tools.md
  docs/v3/documentation/data-formats/tlb/transaction-layout.md
Labels: documentation standardization

#1108 Rework & proofread documentation and guideline files
  docs/v3/documentation/faq.md
  docs/v3/documentation/smart-contracts/shards/infinity-sharding-paradigm.mdx
  docs/v3/documentation/smart-contracts/shards/shards-intro.mdx
  docs/v3/documentation/ton-documentation.mdx
  docs/v3/guidelines/get-started-with-ton.mdx
  static/img/docs/blockchain-fundamentals/scheme.png
  static/img/docs/blockchain-fundamentals/shardchains-merge.png
  static/img/docs/blockchain-fundamentals/shardchains-split.png
  static/img/docs/blockchain-fundamentals/shardchains.png
Labels: documentation standardization

#1090 Rework and proofread Integrate with TON part 2 of 2
  docs/v3/guidelines/ton-connect/business/ton-connect-for-business.md
  docs/v3/guidelines/ton-connect/business/ton-connect-for-security.md
  docs/v3/guidelines/ton-connect/guidelines/creating-manifest.md
  docs/v3/guidelines/ton-connect/guidelines/integration-with-javascript-sdk.md
  docs/v3/guidelines/ton-connect/guidelines/preparing-messages.mdx
  docs/v3/guidelines/ton-connect/guidelines/sending-messages.md
  docs/v3/guidelines/ton-connect/guidelines/verifying-signed-in-users.mdx
  redirects/redirects.json
  sidebars/guidelines.js
Labels: documentation standardization

#1086 1085-rework-proofread-smart-contract-documentation-section
  docs/v3/documentation/smart-contracts/addresses.md
  docs/v3/documentation/smart-contracts/contracts-specs/examples.md
  docs/v3/documentation/smart-contracts/contracts-specs/highload-wallet.md
  docs/v3/documentation/smart-contracts/contracts-specs/wallet-contracts.md
  docs/v3/documentation/smart-contracts/getting-started/ide-plugins.md
  docs/v3/documentation/smart-contracts/getting-started/javascript.mdx
  docs/v3/documentation/smart-contracts/getting-started/testnet.md
  docs/v3/documentation/smart-contracts/overview.mdx
Labels: documentation standardization

#1088 Rework & proofreading of blockchain nodes guidelines #3
  cspell.json
  docs/v3/contribute/content-standardization.mdx
  docs/v3/guidelines/nodes/custom-overlays.md
  docs/v3/guidelines/nodes/faq.mdx
  docs/v3/guidelines/nodes/maintenance-guidelines/mytonctrl-backup-restore.md
  docs/v3/guidelines/nodes/maintenance-guidelines/mytonctrl-validator-standby.md
  docs/v3/guidelines/nodes/monitoring/performance-monitoring.mdx
  docs/v3/guidelines/nodes/node-maintenance-and-security.md
  docs/v3/guidelines/nodes/nodes-troubleshooting.md
  docs/v3/guidelines/nodes/persistent-states.md
Labels: documentation standardization

#1082 Rework & proofread smart contract documentation #2
  docs/v3/documentation/smart-contracts/contracts-specs/governance.md
  docs/v3/documentation/smart-contracts/contracts-specs/nominator-pool.mdx
  docs/v3/documentation/smart-contracts/contracts-specs/precompiled-contracts.md
  docs/v3/documentation/smart-contracts/contracts-specs/single-nominator-pool.md
  docs/v3/documentation/smart-contracts/message-management/messages-and-transactions.mdx
Labels: documentation standardization

#1084 Rework & proofread smart contract documentation #3
  docs/v3/documentation/smart-contracts/message-management/ecosystem-messages-layout.mdx
  docs/v3/documentation/smart-contracts/message-management/external-messages.md
  docs/v3/documentation/smart-contracts/message-management/internal-messages.md
  docs/v3/documentation/smart-contracts/message-management/message-modes-cookbook.mdx
  docs/v3/documentation/smart-contracts/message-management/non-bounceable-messages.md
  docs/v3/documentation/smart-contracts/message-management/sending-messages.md
Labels: documentation standardization

#1109 Rework & proofread smart contract documentation #4
  docs/v3/documentation/smart-contracts/contracts-specs/nominator-pool.mdx
  docs/v3/documentation/smart-contracts/contracts-specs/single-nominator-pool.md
  docs/v3/documentation/smart-contracts/func/cookbook.md
  docs/v3/documentation/smart-contracts/transaction-fees/accept-message-effects.md
  docs/v3/documentation/smart-contracts/transaction-fees/fees-low-level.md
  docs/v3/documentation/smart-contracts/transaction-fees/fees.md
  docs/v3/documentation/smart-contracts/transaction-fees/forward-fees.md
  docs/v3/guidelines/smart-contracts/howto/compile/compilation-instructions.md
  docs/v3/guidelines/smart-contracts/howto/compile/instructions-low-memory.md
  docs/v3/guidelines/smart-contracts/howto/multisig-js.md
  docs/v3/guidelines/smart-contracts/security/random-number-generation.md
  docs/v3/guidelines/smart-contracts/security/secure-programming.mdx
Labels: documentation standardization

#1124 feat: add standalone page for Tact
  docs/v3/documentation/smart-contracts/overview.mdx
  docs/v3/documentation/smart-contracts/tact.mdx
  i18n/ru/docusaurus-plugin-content-docs/current/v3/documentation/smart-contracts/overview.mdx
  i18n/zh-CN/docusaurus-plugin-content-docs/current/v3/documentation/smart-contracts/overview.mdx
  package.json
  sidebars/documentation.js
Labels: tact

#1019 TON Quick start
  docs/v3/guidelines/quick-start/blockchain-interaction/reading-from-network.mdx
  docs/v3/guidelines/quick-start/blockchain-interaction/writing-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/blueprint-sdk-overview.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/deploying-to-network.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/processing-messages.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/setup-environment.mdx
  docs/v3/guidelines/quick-start/developing-smart-contracts/storage-and-get-methods.mdx
  docs/v3/guidelines/quick-start/getting-started.mdx
  navbar.js
  package-lock.json
  package.json
  sidebars/guidelines.js
  src/components/MnemonicGenerator.tsx
  src/data/features.js
  static/img/tutorials/quick-start/active.png
  static/img/tutorials/quick-start/explorer1.png
  static/img/tutorials/quick-start/multi-contract-example-bright.png
  static/img/tutorials/quick-start/multi-contract-example-dark.png
  static/img/tutorials/quick-start/multi-contract.png
  static/img/tutorials/quick-start/nonexist.png
  static/img/tutorials/quick-start/tonkeeper-dark.jpg
  static/img/tutorials/quick-start/tonkeeper-light.jpg
  static/img/tutorials/quick-start/uninit.png
  static/img/tutorials/quick-start/wallet-address.jpg
Labels: enhancement, guidelines
